# Python cache files
__pycache__/
*.py[cod]
hiscanner/resources/tools/singlesample_seg/tmp/*.mbic

# Original version
archive_hiscanner_v1/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
.eggs/

# Testing
.pytest_cache/
.coverage
create_mouse_demo/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo


# System files
.DS_Store
.claudesync/
.claudeignore