# Required parameters - MUST BE SET
scan2_output: null      # Path to SCAN2 results directory (e.g., "/path/to/scan2_out")
metadata_path: null     # Path to metadata file (e.g., "./metadata.txt")
outdir: null           # Output directory for results (e.g., "./hiscanner_output")

# Reference data and external tools - MUST BE SET
fasta_folder: null          # Path to reference genome split by chromosome
mappability_folder_stem: null  # Path to mappability files including the stem (e.g., "/path/to/hg19.CRC.100mer.")

# Segmentation mode options
use_multisample_segmentation: false  # Set to true to use multisample segmentation
remove_common_cnv: false             # Remove CNV regions common to all samples (multisample mode only)

# Analysis parameters - defaults provided but can be modified
rdr_only: false
binsize: 500000           # Bin size for analysis (in bp)
chrom_list: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"]
lambda_range: [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]
lambda_value: 16          # edit this if you want to use a different lambda value for the final calls

# Pipeline specific parameters
max_wgd: 2               # Maximum whole genome duplication level
batch_size: 5            # Number of cells to process in parallel
depth_filter: 0          # Minimum read depth filter
ado_threshold: 0.2       # Allelic dropout threshold
threads: 4               # Number of parallel threads to use
ado_plot_baf_distribution: true  # Set to false to disable BAF distribution plots

# ADO analysis options
aggregate_every_k_snp: true  # Whether to aggregate every k SNPs for ADO analysis
k: 5                    # Number of SNPs to aggregate when aggregate_every_k_snp is true

# Multisample segmentation options
cell_groups: []         # List of cell groups for multisample analysis
                       # If empty, all cells in metadata will be used as one group
multisample_temp_dir: "temp/multisample"  # Directory for temporary multisample files

# Debug and performance options
keep_raw_files: false    # Whether to keep intermediate raw files (default: false)
rerun: false            # Force rerun of existing results (default: false)
keep_temp_files: false  # Keep temporary files from multisample segmentation

# Cluster options
use_cluster: false      # Whether to use cluster for computation
cluster_queue: "park"   # Cluster queue to use
max_cluster_jobs: 100   # Maximum number of concurrent cluster jobs